[Unit]
Description = HAP-python daemon
After = local-fs.target network-wait-online.service pigpiod.service

[Service]
WorkingDirectory=/home/lesserdaemon/WeatherPi
User = lesserdaemon
ExecStartPre=/bin/sleep 30
ExecStart = /home/lesserdaemon/WeatherPi/venv/bin/python3 /home/lesserdaemon/WeatherPi/main.py

[Install]
WantedBy = multi-user.target
